$black: #000000;
$white: #ffffff;
$green: rgb(0, 171, 0);
$red:#ab2328;

// font-color
$grey: rgb(180, 191, 196);
$active-color:rgb(82, 137, 166);
$light-grey:rgba(122, 122, 122, 0.87);

// background-color
$primary-bg-color: #F2F2F2;
$ref-bg:rgb(255, 255, 255);

// border
$border-bar:rgb(210, 210, 210);

// btn
$blue:#0073aa;
$disable-btn: grey;