@import './color.scss';

// .header{
//     position: fixed;
//     width: 100%;
//     z-index: 1000;
// }

.navbar-brand{
    color: $white !important;
    font-weight: 700;
}

.nav-link{
    color: $white !important;
    font-weight: 500;
}
// .animated-text{
//     -webkit-text-stroke: 0.1vw $white;
// }
// .animated-text::before{
//     content: attr(data-text);
//     position: absolute;
//     // top: 0;
//     // left: 0;
//     width: 0;
//     height: 100%;
//     color: $black;
//     -webkit-text-stroke: 0vw $black;
//     // border-right: 1px solid $black;
//     overflow: hidden;
//     animation: animate 6s linear infinite;
// }

// @keyframes animate {
//     0%,10%,100%{
//         width: 0;
//     }
//     70%,90%{
//         width: 100%;
//     }
// }